body {
  width: 100%;
  margin: 0;
}

/* header */

header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #b3ccff;
  position: fixed;
  z-index: 65;
  font-family: "Source Sans Pro", sans-serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: auto;
}

nav li {
  margin-right: 20px;
  text-align: center;
  padding: 10px;
  color: #f2f2f2;
}

nav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: #1a53ff;
}

.fa-bars {
  font-size: 30px;
}

#bars {
  display: none;
}

h1 {
  color: #333333;
}

h1 span {
  text-transform: uppercase;
  color: #1a53ff;
}

.utilisateur {
  font-size: 1em;
  text-transform: uppercase;
  color: #1a53ff;
}

.fa-user {
  margin-right: 5px;
}

/* bannière */

#banniere {
  margin: 0;
  padding-top: 100px;
  width: 100%;
  height: 300px;
  position: relative;
  background-image: url(../img/alaska-banniere.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.body h2 {
  font-size: 1.8em;
  background-color: rgb(255, 255, 255, 0.5);
  border: 1px solid black;
  padding: 20px;
}

/* sidebar */

#sidebar {
  margin-top: 20px;
  width: 25%;
  padding: 50px 25px 30px 20px;
}

#sidebar img {
  box-shadow: 1px 3px 6px rgba(42, 93, 110, 0.5);
  width: 100%;
}

#sidebar p {
  text-align: justify;
}

#sidebar .signature {
  font-style: italic;
  color: #1a53ff;
  font-weight: bold;
  border-bottom: 1px dashed #ff1a1a;
  padding-top: 5px;
  padding-bottom: 20px;
}

#sidebar .oeuvre {
  font-style: italic;
  font-weight: bold;
}

/* content */

.content {
  width: 65%;
}

#container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* affichage chapitres */

#leChapitre {
  border-left: 1px dashed #ff1a1a;
  padding-left: 20px;
}

#list-chap {
  border-bottom: 3px double #ff1a1a;
  text-align: center;
  padding: 5px;
}

.titre-chap {
  color: #1a53ff;
  font-weight: bold;
  font-size: 1.2em;
}

.date {
  font-weight: bold;
  text-align: right;
  color: #8c8c8c;
}

.chap {
  text-align: justify;
}

.suite-chap {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 5px;
  background-color: #e6eeff;
  color: #ff1a1a;
}

#lesModif {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #e6eeff;
}
#lesModif a {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  color: #ff1a1a;
}

#lesModif a:hover {
  color: #000;
}

/* affichage commentaires */

#petit-trait {
  height: 2px;
  background-color: #ccc;
  margin: auto;
  margin-top: 40px;
}

#lesCommentaires {
  background-color: #f8f8f8;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
}

.leComm {
  border-radius: 15px;
  border: 2px solid #1a53ff;
  margin: 30px;
  padding: 5px;
  line-height: 3px;
}

.comm {
  text-align: center;
  font-weight: bold;
}

.reported {
  text-align: center;
  font-weight: bold;
  color: red;
}

.dateCommentaire {
  text-align: right;
  font-weight: bold;
  color: #737373;
}

.membre {
  font-weight: bold;
}

.buttonComm {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.supp-comm,
.signaler {
  color: red;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

#reported {
  color: red;
  font-size: 20px;
  text-align: left;
}

#modifier,
#creation {
  display: flex;
  flex-direction: column;
}

#retour {
  border-radius: 5px;
  border: 2px solid #1a53ff;
  padding: 8px;
  color: #1a53ff;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
  text-align: center;
}
#Backbutton {
  margin: 35px;
  align-self: flex-end;
}

/* tout les formulaires */

.formulaire body {
  background: #b3ccff;
}

.formulaire {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
}

#creation .formulaire,
#modifier .formulaire {
  width: 90%;
  margin: 25px;
}

.formulaire-comm {
  width: 60%;
  margin: auto;
  margin-top: 15px;
}

form {
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.formulaire h2,
.formulaire-comm h2 {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #1a53ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: white;
  color: #1a53ff;
  border: 1px solid #1a53ff;
}

.formulaire a {
  color: #1a53ff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.formulaire p {
  text-align: center;
}

.formulaire a:hover {
  color: #cc0000;
}

/* connextion pour commentaire */

.seConnecter {
  color: red;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.seConnecter a {
  text-decoration: none;
}

/* success and error message */

#success {
  color: #008000;
  font-weight: bold;
  text-align: center;
}

#unsuccess {
  color: #e60000;
  font-weight: bold;
  text-align: center;
}

/* biographie */

#biographie h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
}

#biographie p {
  line-height: 2em;
  font-size: 1.2em;
}

#biographie span {
  font-style: italic;
  font-weight: bold;
}

#biographie img {
  float: left;
  margin-right: 20px;
}

/* footer */

#footer {
  background-color: #b3ccff;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  font-family: "Source Sans Pro", sans-serif;
}

#footer h3 {
  color: #002699;
}

#footer a {
  color: #0d0d0d;
  font-weight: 500;
  text-decoration: none;
  margin: 0;
}

#footer a:hover {
  color: #002699;
}

#siteLink,
#about {
  text-align: center;
  line-height: 1.3em;
  font-style: italic;
}

/* responsive */

@media all and (max-width: 800px) {
  h1 {
    left: 25px;
    position: absolute;
    margin: 0;
  }
  nav {
    display: none;
  }

  #bars {
    display: block;
    position: absolute;
    right: 35px;
    cursor: pointer;
  }

  #bars:hover {
    color: #1a53ff;
  }

  nav ul {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 100px;
    background-color: #b3ccff;
    width: 100%;
  }
  nav a {
    font-size: 1.2em;
  }
  nav li {
    padding: 10px;
  }

  #container {
    margin-top: 25px;
    justify-content: space-around;
    flex-direction: column-reverse;
  }

  #sidebar {
    display: flex;
    margin: auto;
    margin-top: 25px;
    width: 90%;
    padding-top: 30px;
    border-top: 1px dotted #ff1a1a;
  }

  #sidebar p {
    margin: 0;
    font-size: 0.8em;
  }

  #sidebar img {
    width: 40%;
    height: 200px;
    margin-right: 25px;
  }

  #sidebar .signature {
    border-bottom: none;
  }

  .content {
    width: 95%;
    margin: auto;
  }

  #leChapitre {
    border-left: none;
    padding-left: 20px;
  }

  @media all and (max-width: 430px) {
    h1 {
      left: 15px;
      font-size: 1.5em;
    }

    #bars {
      right: 25px;
    }

    #sidebar {
      width: 80%;
    }
  }
}
