/* tout les formulaires */

.formulaire body {
  background: #b3ccff;
}

.formulaire {
  width: 400px;
  margin: 0 auto;
  margin-top: 10%;
}

#creation .formulaire,
#modifier .formulaire {
  width: 90%;
  margin: 25px;
}

.formulaire-comm {
  width: 60%;
  margin: auto;
  margin-top: 15px;
}

form {
  width: 100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.formulaire h1,
.formulaire-comm h1 {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #1a53ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  background-color: white;
  color: #1a53ff;
  border: 1px solid #1a53ff;
}

.formulaire a {
  color: #1a53ff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.formulaire p {
  text-align: center;
}

.formulaire a:hover {
  color: #cc0000;
}
